<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA103G4ryu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>/index/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/BA103G4DB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ProdServletBack</servlet-name>
    <servlet-class>com.prod.controller.ProdServletBack</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  
   <filter>
    <filter-name>SetShowLoginFilter</filter-name>
    <filter-class>com.filter.SetShowLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetShowLoginFilter</filter-name>
    <url-pattern>/FrontEnd/*</url-pattern>
    <servlet-name>*</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  <filter>
    <filter-name>SetEncodeFilter</filter-name>
    <filter-class>com.filter.SetEncodeFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetEncodeFilter</filter-name>
    <url-pattern>/FrontEnd/buyerorder/*</url-pattern>
    <url-pattern>/FrontEnd/cart/*</url-pattern>
    <url-pattern>/FrontEnd/index/*</url-pattern>
    <url-pattern>/FrontEnd/mem/*</url-pattern>
    <url-pattern>/FrontEnd/order/*</url-pattern>
    <url-pattern>/FrontEnd/shop/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>MemLoginFilter</filter-name>
    <filter-class>com.memlogin.controller.MemLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemLoginFilter</filter-name>
    <url-pattern>/FrontEnd/buyerorder/buyerorder.jsp</url-pattern>
    <url-pattern>/FrontEnd/cart/cart.jsp</url-pattern>
    <url-pattern>/FrontEnd/mem/mem.jsp</url-pattern>
    <url-pattern>/FrontEnd/order/order.jsp</url-pattern>
    <servlet-name>Cart_listServletAjax</servlet-name>
    <servlet-name>Fo_prodServletAjax</servlet-name>
    <servlet-name>Fo_storeServletAjax</servlet-name>
    <servlet-name>Like_revServletAjax</servlet-name>
    <servlet-name>OrdServlet</servlet-name>
    <servlet-name>OrdServletAjax</servlet-name>
    <servlet-name>QaControllerAjax</servlet-name>
    <servlet-name>ReviewServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
</web-app>